/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

body{
	background: url("../img/bgSite.jpg") no-repeat;
	background-position:top center;
}

.wrapper {
	width: 1024px;
	margin: 0px auto;
	padding: 0px;
}
.wrapper div{
	width: 100%;
	float: left;
}


/*End global styles*/

header h1 a {
	width: 115px;
	height: 75px;
	text-indent: -9999px;
	background-image: url(../img/);
	clear: none;
	float: left;
	background-size: 100%;
}
nav{
  float: right;
}
nav ul li {
  float: left;
  list-style-type: none;
}
nav ul li a{
  margin: 0 20px;
  text-decoration: none;
}

/*End header styles*/

#segColor {
	height: 420px;
}
#segColor h2 {
	margin-left: 670px;
	margin-top: 130px
}

/*End content styles*/
