/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

body{
	background: url("../img/bgSite.jpg") no-repeat;
	background-position:top center;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 1024px;
	margin: 0px auto;
	padding: 0px;
}
.wrapper div, footer{
	width: 100%;
	float: left;
}
a.bottJoin {
	padding: 5px 15px;
	border: 2px solid #ffffff;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}
.more {
	width: 35px;
	height: 32px;
	text-indent: -99999px;
	display: block;
	background: url('../img/icons.png');
	background-position: -27px -307px;
}
.icon{
	display: block;
	width: 39px;
	height: 37px;
	background: url('../img/icons.png');
	clear: none;
	float: left;
}

.statisticUpIcon{
	background-position: -22px -32px;
}
.iPadPotraitLandscapeIcon{
	background-position: -27px -118px;
}
.uploadIcon{
	background-position: -26px -205px;
}

/*End global styles*/

header h1{
	margin: 0 0 0;
}

header h1 a {
	width: 115px;
	height: 75px;
	text-indent: -9999px;
	background: url('../img/logo.png') no-repeat;
	clear: none;
	float: left;
	background-size: 100%;
	background-position: 0px 4px;
}
nav{
  float: right;
}
nav ul li {
  float: left;
  list-style-type: none;
}
nav ul li a{
  margin: 0 20px;
  text-decoration: none;
  color: #ffffff;
}

/*End header styles*/

#segColor {
	float: right;
	width: 500px;
	color: #ffffff;
	margin-bottom: 300px;
}
#segColor h2 {
	font-size: 40px;
	margin: 0px;
}
#contWhite {
	height: 340px;
	background-color: #ffffff;
}
#contWhite h3, #contWhite p{
	margin: 30px auto;
	width: 860px;
	margin-bottom: 25px;
	font-weight: 300;
}
#contWhite h3 {
	font-size: 1.8em
}
#contWhite p{
	font-size: 14px
}
#contWhite img{
	margin: 30px 0 0 86px;

}
#content div > div {
	width: 30.33%;
	color: #ffffff;
	padding: 1% 1% 1% 2%;
}
#content div > div h4{
	font-weight: 300;
	font-size: 22px;
	margin-left: 10px
}
#content div > div p{
	font-weight: 300;
	font-size: 14px;
	margin: 0 0 10px 0;
}
#content div > div span{
	margin-top: 3px;
	margin-right: 5px;
}

#content div > div .more{
	float: right;
	margin: 15px 30px 20px 15px;
}
#content div > div .more:hover {
	opacity: 0.7;
}
#cuadroClr1{
	background-color: #404040;
}
#cuadroClr2{
	background-color: #f74c55;
}
#cuadroClr3{
	background-color: #2d5f3b;
}

.blackRiver{
	height: 497px;
	background: url("../img/blackRiverBG.jpg") no-repeat;
}
.blackRiver p{
	text-align: center;
	color: #fff;
	font-size: 42px;
	width: 500px;
	padding: 170px 0 30px 0;
	margin: 0 auto;
	font-weight: lighter;
}

.blackRiver a{
	margin: 0 auto;
	display: block;
	width: 100px;
}
/*CONTACTENOS*/
#contWhite2{
	height: 700px;
	background-color: #ffffff;
}
#formulario h3 {
  	margin-left: 5px;
  	font-family:Arial;
  	color: #000000;
}
label {
	color:#000000;
  	display: block;
  	margin: 10px 0px 10px 5px
}
input, textarea{
	margin-left: 20px;
	border-radius: 5px;
	color:#000000;
}
#btnBorrar, #btnEnviar {
    border: none;
    background-color: #ffffff;
    margin: 20px;
    padding: 4px;
    border-radius: 5px;
    font-family: arial;
    color: #000000;
}
/*FIN DE CONTACTENOS*/
/*End content styles*/
footer {
	background-image: url('../img/colores.png');
	background-repeat: repeat-x;
	background-position: 0 -25px
}
footer p {
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	margin: 0 auto;
	padding: 20px 0 10px 0;
}
/*End footer styles*/
